<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="data:,">
</head>

<body>
  <div class="options">
    <form action="/" method="get" class="Homeform">
      <button type="submit" name="home">Home</button>
    </form>

    <form action="/work" method="get" class="Workform">
      <button type="submit" name="work">Work</button>
    </form>
  </div>